<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;500;700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="icon"
            href="https://office-otter-production.s3.us-east-2.amazonaws.com/4d5c519f-63d9-45a9-93fb-e456ed2ca782otter.ico"
        />
        <style>
            .password-input {
                background: #edf2f7;
                border: 2px solid transparent;
            }
            .password-input:hover {
                background: #e2e8f0;
            }
            .password-input:focus {
                border-color: #0a58ce;
                background-color: #ffffff;
            }
            .password-input::placeholder {
                color: #a0aec0;
            }
            .submit-button {
                background-color: #0a58ce;
            }
            .submit-button:hover {
                background-color: #2243c5;
            }
        </style>
        <script>
            window.onload = () => {
                const error = new URL(window.location.href).searchParams.get(
                    'error'
                )

                if (error) {
                    handleError(error)
                }
            }

            function handleError(error) {
                let errorMessage = undefined
                if (error === 'emailNotFound') {
                    errorMessage = '* Email not found'
                } else if (error === 'emailNotEntered') {
                    errorMessage = '* Email field is required'
                } else {
                    console.log('unrecognized error')
                }

                const textNode = document.createTextNode(errorMessage)
                const currentElement = document.getElementById('send-link')
                const newElement = document.createElement('h4')

                newElement.appendChild(textNode)
                newElement.style.margin = '0px'
                newElement.style.color = 'rgba(255, 0, 0, 0.8)'
                newElement.style.fontWeight = 300
                newElement.style.fontSize = '15px'
                newElement.style.marginBottom = '0px'
                newElement.style.marginTop = '10px'
                newElement.style.fontFamily = 'Poppins, sans-serif'

                document
                    .getElementById('form')
                    .insertBefore(newElement, currentElement)
                document.getElementById('send-link').style.marginTop = '8px'

                document.getElementById('email').style.border =
                    'solid rgb(255, 0, 0, 0.8) 1.75px'
            }
        </script>
        <title>Password Reset</title>
    </head>
    <body
        style="
            font-family: Poppins, sans-serif;
            color: #1a202c;
            height: 100vh;
            display: flex;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            -webkit-box-pack: center;
            background-color: #ffffff;
            background-position: right top;
            background-repeat: no-repeat;
            background-image: url(https://office-otter-production.s3.us-east-2.amazonaws.com/52e63585-961d-4c94-96e1-a13947167d27blueWave.svg);
        "
    >
        <div
            style="
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                flex-direction: column;
                width: 480px;
                padding: 24px 48px;
                background-color: #ffffff;
                border-radius: 8px;
                box-shadow: 0 8px 16px 0 rgba(56, 96, 165, 0.15);
                box-sizing: border-box;
            "
        >
            <img
                style="height: 80px"
                alt="otter boi"
                src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/232/otter_1f9a6.png"
            />
            <p
                style="
                    margin-top: 0.5rem;
                    margin-bottom: 0px;
                    margin-inline-end: 0px;
                    margin-inline-start: 0px;
                    font-size: 30px;
                    font-weight: 700;
                "
            >
                Create new password
            </p>
            <form
                id="form"
                method="POST"
                action="https://office-otter-be.herokuapp.com/passwordreset"
                style="width: 100%"
            >
                <input type="hidden" name="id" value="<%= id %>" />
                <input type="hidden" name="token" value="<%= token %>" />
                <div role="group" style="width: 100%; position: relative">
                    <label
                        for="new-password"
                        id="new-password-label"
                        style="
                            display: block;
                            text-align: start;
                            font-size: 16px;
                            margin-inline-end: 0.75rem;
                            margin-bottom: 0.5rem;
                            font-weight: 500;
                            margin-top: 16px;
                        "
                    >
                        New password
                        <span
                            role="presentation"
                            aria-hidden="true"
                            style="margin-inline-start: 0.25rem; color: #ff3d71"
                        >
                            *
                        </span>
                    </label>
                    <input
                        required
                        type="password"
                        placeholder="password"
                        name="password"
                        id="password"
                        aria-required="true"
                        aria-describedby="email-helptext"
                        class="password-input"
                        style="
                            width: 384px;
                            min-width: 0px;
                            outline: 2px solid transparent;
                            position: relative;
                            appearance: none;
                            font-size: 18px;
                            padding-inline-start: 1rem;
                            padding-inline-end: 1rem;
                            height: 3rem;
                            border-radius: 8px;
                            box-sizing: border-box;
                            font-family: Poppins, sans-serif;
                        "
                    />
                </div>
                <button
                    type="submit"
                    class="submit-button"
                    id="send-link"
                    style="
                        display: inline-flex;
                        appearance: none;
                        align-items: center;
                        -webkit-box-pack: center;
                        justify-content: center;
                        user-select: none;
                        position: relative;
                        white-space: nowrap;
                        vertical-align: middle;
                        width: 100%;
                        line-height: 1.2;
                        border-radius: 8px;
                        font-weight: 600;
                        height: 48px;
                        min-width: 3rem;
                        font-size: 16px;
                        padding-inline-start: 1.5rem;
                        padding-inline-end: 1.5rem;
                        text-transform: capitalize;
                        padding: 16px 24px;
                        color: #ffffff;
                        margin-top: 24px !important;
                        margin-bottom: 24px !important;
                        cursor: pointer;
                        box-sizing: border-box;
                        font-family: Poppins, sans-serif;
                        outline: 2px solid transparent;
                        outline-offset: 2px;
                        border: none;
                    "
                >
                    Reset password
                </button>
            </form>
            <a
                href="https://app.officeotter.com/signin"
                style="
                    margin-top: 0.5rem;
                    margin-inline-end: 0px;
                    margin-bottom: 0px;
                    margin-inline-start: 0px;
                    cursor: pointer;
                    text-decoration: underline;
                    color: #0a58ce;
                "
            >
                Go back to sign in
            </a>
        </div>
    </body>
</html>
